<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Welcome! This site contains information and materials related to my ongoing research. </h2>
                <hr class="light">
                <p class="text-faded">I completed my PhD at the University of Exeter in May 2020, as part of the AWESoMeStars ERC project under the supervision of Prof. Sean Matt. Afterwards, I continued working with Prof. Sean Matt in Exeter as a Postdoctoral Research Associate until December 2020. From then onwards, I have been working as a Postdoctoral Researcher at CEA Paris-Saclay with Prof. Sacha Brun, as part of the WHOLESUN ERC project. </p>
                <hr class="light">
                <p class="text-faded">My research interests are centered around stellar magnetism, atmospheres, and winds of low-mass stars like the Sun. I investigate these processes using a combination of magnetohydrodynamic models and observations. During my PhD I investigated how magnetised stellar winds remove angular momentum from stars like the Sun. This process is clearly visible in the trends of rotation periods of Sun-like (and low-mass) stars at different ages. As this process is similar for most low-mass stars, by studing how the solar wind removes angular momentum from the Sun, we can gain insights that are broadly applicable to other stars. My postdoctoral research seeks to further investigate the energetics of the solar atmopshere, from which the solar wind in launched.</p>
                <a href="#papers" class="btn btn-default btn-xl">My Papers!</a>
            </div>
        </div>
    </div>
</section>
