<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Welcome! This site contains information and materials related to the PhD project of Adam Finley at the University of Exeter (2016-2020).</h2>
                <hr class="light">
                <p class="text-faded">I aim to understand the interaction of dynamo-driven magnetic fields on stellar winds from low-mass stars. These magnetised winds remove angular momentum from their host stars, causing them to spin-down with age.</p>
                <a href="#services" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
