<section class="no-padding" id="connectivity_tool">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href='img/connect_tool/CONNECT_E01.mp4' class="portfolio-box">
                    <img src="img/connect_tool/f1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                PSP - Encounter 1
                            </div>
                            <div class="project-name">
                                35.7 Solar Radii
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href='img/connect_tool/CONNECT_E02.mp4' class="portfolio-box">
                    <img src="img/connect_tool/f2.png" class="img-responsive" alt="" data-wow-delay=".1s">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                PSP - Encounter 2
                            </div>
                            <div class="project-name">
                                35.7 Solar Radii
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href='img/connect_tool/CONNECT_E03.mp4' class="portfolio-box">
                    <img src="img/connect_tool/f3.png" class="img-responsive" alt="" data-wow-delay=".2s">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                PSP - Encounter 3
                            </div>
                            <div class="project-name">
                                35.7 Solar Radii
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href='img/connect_tool/CONNECT_E04.mp4' class="portfolio-box">
                    <img src="img/connect_tool/f4.png" class="img-responsive" alt="" data-wow-delay=".3s">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                PSP - Encounter 4
                            </div>
                            <div class="project-name">
                                27.9 Solar Radii
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href='img/connect_tool/CONNECT_E05.mp4' class="portfolio-box">
                    <img src="img/connect_tool/f5.png" class="img-responsive" alt="" data-wow-delay=".4s">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                PSP - Encounter 5
                            </div>
                            <div class="project-name">
                                27.9 Solar Radii
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href='img/connect_tool/CONNECT_E06.mp4' class="portfolio-box">
                    <img src="img/connect_tool/f6.png" class="img-responsive" alt="" data-wow-delay=".5s">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                PSP - Encounter 6
                            </div>
                            <div class="project-name">
                                20.4 Solar Radii
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
