<section class="no-padding" id="connectivity_tool">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href='img/connect_tool/CONNECT_E10.mp4' class="portfolio-box">
                    <img src="img/connect_tool/f10.png" class="img-responsive" alt="" data-wow-delay=".3s">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                PSP - Encounter 10
                            </div>
                            <div class="project-name">
                                13.3 Solar Radii
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href='img/connect_tool/CONNECT_E11.mp4' class="portfolio-box">
                    <img src="img/connect_tool/f11.png" class="img-responsive" alt="" data-wow-delay=".4s">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                PSP - Encounter 11
                            </div>
                            <div class="project-name">
                                13.3 Solar Radii
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href='img/connect_tool/CONNECT_E12.mp4' class="portfolio-box">
                    <img src="img/connect_tool/f12.png" class="img-responsive" alt="" data-wow-delay=".5s">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                PSP - Encounter 12
                            </div>
                            <div class="project-name">
                                13.3 Solar Radii
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
