<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"><font color='black' >Contact Details</font></h2>
                <hr class="primary">
                <p><font color='black' >Institution Address:<br/> DRF/IRFU/DAp/LDE3<br />  CEA Paris-Saclay<br /> Gif-sur-Yvette Cedex<br /> 91191<br /> France</font></p>


            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/AdamF_Astro">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>AdamF_Astro</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="af472@exeter.ac.uk">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>adam.finley@cea.fr</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/AdamJamesFinley">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>AdamJamesFinley</p>
            </a>
        </div>

    </div>
</section>
