<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact Details</h2>
                <hr class="primary">
                <h2 class="section-heading"> Institution Address:</h2>
                <p>College of Engineering, Mathematics and Physical Sciences<br /> Physics Building<br /> Streatham Campus<br /> University of Exeter<br /> North Park Road<br /> Exeter<br /> UK<br /> EX4 4QL</p>


            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/AdamF_Astro">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>AdamF_Astro</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="af472@exeter.ac.uk">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>af472@exeter.ac.uk</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/af472">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>af472</p>
            </a>
        </div>

    </div>
</section>
