<section class="bg-primary" id="extra">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-1 text-left">
                <h2 class="section-heading">Notes & Links</h2>
                <hr class="light">

                <p class='text-faded'><a href="extra/extra_sh-decomp-solution.html"><font color='white' >Spherical Harmonics and Their Rotations </font></a> </p>

                <p class='text-faded'><a href="extra/extra_DipQuadOct_SolarCycle.html"><font color='white' >The Solar Cycle in Spherical Harmonics </font></a> </p>

                <p class='text-faded'><a href="extra/extra_Torque_SolarCycle.html"><font color='white' >The Torque on the Sun During a Solar Cycle </font></a> </p>

              </div>
        </div>
    </div>
</section>
