<section class="no-padding" id="gallery_movies">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-sm-1 col-sm-8">
                <a class="portfolio-box">
                  <video controls width="25%" autoplay='' loop=''  controls>
                    <source src="img/gallery_movies/E11_SDO_CONNECT.mp4" type="video/mp4">
                  </video><br/>
                </a>
            </div>
            <div class="col-sm-1 col-sm-8">
                <a class="portfolio-box">
                  <video controls width="25%" autoplay='' loop=''  controls>
                    <source src="img/gallery_movies/E11_LASCO_CONNECT.mp4" type="video/mp4">
                  </video><br/>
                </a>
            </div>
            <div class="col-sm-1 col-sm-8">
                <a class="portfolio-box">
                  <video controls width="25%" autoplay='' loop=''  controls>
                    <source src="img/gallery_movies/E11_STEREOA_CONNECT.mp4" type="video/mp4">
                  </video><br/>
                </a>
            </div>
            <div class="col-sm-1 col-sm-8">
                <a class="portfolio-box">
                  <video controls width="25%" autoplay='' loop=''  controls>
                    <source src="img/gallery_movies/E11_SECCHI_CONNECT.mp4" type="video/mp4">
                  </video><br/>
                </a>
            </div>
        </div>
    </div>
</section>
