<section class="bg-primary" id="papers">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-1 text-left">
                <h2 class="section-heading">Published Papers</h2>
                <hr class="light">
                <h2 class="section-heading">2019</h2>
                <p class='text-faded'><a href="https://arxiv.org/abs/1910.02129"><font color='white' >Do Non-dipolar Magnetic Fields Contribute to Spin-down Torques?</font></a> See, V., Matt, S. P., <font color='black' >Finley, A. J.</font>, Folsom, C. P., Boro Saikia, S., Donati, J. F., Fares, R. et al. <i>Accepted to the Astrophysical Journal</i>, September 2019.</p>
                <p class='text-faded'><a href="https://iopscience.iop.org/article/10.3847/1538-4357/ab3729"><font color='white' >Solar Angular Momentum Loss Over the Past Several Millennia </font></a> <font color='black' >Finley, A. J.</font>, Deshmukh, S., and Matt, S. P., Owens, M. and Wu, C. J. <i>The Astrophysical Journal</i> 883.1 (2019): 67.</p>
                <p class='text-faded'><a href="https://iopscience.iop.org/article/10.3847/1538-4357/ab12d2"><font color='white' >The Effect of Magnetic Variability on Stellar Angular Momentum Loss II: The Sun, 61 Cygni A, ε Eridani, ξ Bootis A and τ Bootis A </font></a> <font color='black' >Finley, A. J.</font>, See, V., and Matt, S. P. <i>The Astrophysical Journal</i> 876.1 (2019): 44.</p>
                <p class='text-faded'><a href="https://iopscience.iop.org/article/10.3847/1538-4357/ab1096"><font color='white' >Estimating Magnetic Filling Factors from Zeeman-Doppler Magnetograms </font></a> See, V., Matt, S. P., Folsom, C. P., Boro Saikia, S., Donati, J. F., Fares, R., <font color='black' >Finley, A. J.</font> et al. <i>The Astrophysical Journal</i> 876.2 (2019): 118.</p>
                <hr class="light">
                <h2 class="section-heading">2018</h2>
                <p class='text-faded'><a href="https://iopscience.iop.org/article/10.3847/1538-4357/aad7b6"><font color='white' >The Effect of Magnetic Variability on Stellar Angular Momentum Loss I: The Solar Wind Torque During Sunspot Cycles 23 &amp; 24 </font></a> <font color='black' >Finley, A. J.</font>, Matt, S. P., and See, V. <i>The Astrophysical Journal</i> 864.2 (2018): 125.</p>
                <p class='text-faded'><a href="http://iopscience.iop.org/article/10.3847/1538-4357/aaaab5"><font color='white' >The Effect of Combined Magnetic Geometries on Thermally Driven Winds. II. Dipolar, Quadrupolar, and Octupolar Topologies </font></a> <font color='black' >Finley, A. J.</font>, and Matt, S. P. <i>The Astrophysical Journal</i> 854.2 (2018): 78.</p>
                <hr class="light">
                <h2 class="section-heading">2017</h2>
                <p class='text-faded'><a href="http://iopscience.iop.org/article/10.3847/1538-4357/aa7fb9"> <font color='white' >The Effect of Combined Magnetic Geometries on Thermally Driven Winds I: Interaction of Dipolar and Quadrupolar Fields </font></a> <font color='black' >Finley, A. J.</font>, and Matt, S. P. <i>The Astrophysical Journal</i> 845.1 (2017): 46.</p>
            </div>
        </div>
    </div>
</section>
