<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href='#papers' class="portfolio-box">
                    <img src="img/portfolio/f1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                PLUTO - MHD Code
                            </div>
                            <div class="project-name">
                                Solar/Stellar Wind Simulations
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href='#extra' class="portfolio-box">
                    <img src="img/portfolio/f3.jpg" class="img-responsive" alt="" data-wow-delay=".1s">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Parker Solar Probe
                            </div>
                            <div class="project-name">
                                Solar Angular Momentum-loss
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href='#papers' class="portfolio-box">
                    <img src="img/portfolio/f6.jpg" class="img-responsive" alt="" data-wow-delay=".2s">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Potential Field Source Surface Model
                            </div>
                            <div class="project-name">
                                Solar Wind Connectivity
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/portfolio/f2.jpg" class="img-responsive" alt="" data-wow-delay=".3s">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Data Visualisation
                            </div>
                            <div class="project-name">
                                3D Printing
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/portfolio/f4.jpg" class="img-responsive" alt="" data-wow-delay=".4s">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                BIFROST - RMHD Code
                            </div>
                            <div class="project-name">
                                Solar Atmosphere Simulations
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/portfolio/f5.jpg" class="img-responsive" alt="" data-wow-delay=".5s">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                BIFROST - RMHD Code
                            </div>
                            <div class="project-name">
                                Tracing the Energy Input into the Corona
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
