<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Research Interests</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-sun-o wow bounceIn text-primary"></i>
                    <h3>Stellar Winds</h3>
                    <p class="text-muted">Low-mass stars host hot, million degree, atmospheres which drive a steady stream of plasma from their surface. These winds carry away mass, but also angular momentum which is crucial in explaining the observed rotation periods of stars as they age.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-star wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Stellar Magnetism</h3>
                    <p class="text-muted">Low-mass stars generate magnetic fields through an internal dynamo; powered by the interplay of rotation and convection. These magnetic fields energise the outer atmosphere, influence the mass-loss in the stellar wind, and the subsequent angular momentum-loss process.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-terminal wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Numerical Simulation</h3>
                    <p class="text-muted">In order to study the influence of magnetic fields have on angular momentum loss in stellar winds, I perform magnetohydrodynamic simulations using the <a href="http://plutocode.ph.unito.it/"> PLUTO</a> code.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-refresh wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Rotation Evolution</h3>
                    <p class="text-muted">I produce semi-analytic relationships for the braking torque on stars, given their observable properties. These formulae can then be used to model the rotation period evolution of low-mass stars, or in comparison to the torques required by current rotation-evolution models.</p>
                </div>
            </div>
        </div>
    </div>
</section>
