<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"><font color='F05F40' >Research Interests</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-sun-o wow bounceIn text-primary"></i>
                    <h3><font color='F05F40' >Solar Wind</h3>
                    <p class="text-muted">The surface of the Sun sits at a modest 5800 kelvin and yet the solar atmosphere/wind above is heated to millions of kelvin. What processes are important in heating the solar corona, and how does this energy balance change for other stars (with different ages, masses, metalicities, etc...)? </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-refresh wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3><font color='F05F40' >Angular Momentum</h3>
                    <p class="text-muted">During the lifetime of a star like the Sun, its wind will remove a negligable amount of mass. However due to the star's magnetic field, this mass-loss efficiently removes angular momentum causing the star's rotation period to increase with age. How much angular momentum is the solar wind removing from the Sun right now?</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-star wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3><font color='F05F40' >Stellar Magnetism</h3>
                    <p class="text-muted">Stars like the Sun generate magnetic fields through an internal dynamo; powered by the interplay of rotation and convection. These magnetic fields play an important role in transporting energy to their stellar winds, which influences their mass-loss, and angular momentum-loss rates.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-terminal wow bounceIn text-primary" data-wow-delay=".5s"></i>
                    <h3><font color='F05F40' >Numerical Simulation</h3>
                    <p class="text-muted">In order to perform my research I make use of a variety of magnetohydrodynamic simulation codes, this includes the <a href="http://plutocode.ph.unito.it/"> PLUTO</a> code for solar/stellar winds, and more recently the <a href="https://www.aanda.org/articles/aa/pdf/2011/07/aa16520-11.pdf"> Bifrost</a> code for modelling the solar atmosphere.</p>
                </div>
            </div>
        </div>
    </div>
</section>
