<section class="bg-dark" id="thesis">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"><a href="https://drive.google.com/file/d/1odVOXBxkqUdIeBDMkntmkv3ORZF92rKn/view?usp=drive_link"><font color='white' >UK NAM 2025 - Rotation, Activity and Winds of Sun-like Stars</a></h2>
                <h2 class="section-heading"><a href="https://drive.google.com/file/d/1YJlzIvS8obR7OOzNV-vck4-SbwMyC5i9/view?usp=drive_link"><font color='white' >UK NAM 2025 - Active Region Nesting</a></h2>
                <h2 class="section-heading"><a href="https://drive.google.com/file/d/1i6WYVwPtjAFjbltcwTD8Fq-PgBggWdCM/view?usp=drive_link"><font color='white' >Kiel Spring School 2024 - Intro to Winds</a></h2>
                <h2 class="section-heading"><a href="https://drive.google.com/file/d/1oK5eqvdUdY6YRmWLY0YQFeGVJy9meoLK/view?usp=drive_link"><font color='white' >ICPS 2024 Workshop - Journey Towards the Sun</a></h2>
            </div>
        </div>
    </div>
</section>
