<section class="bg-dark" id="talksevents">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
                <h2 class="section-heading"><font color='orange' >Education</font></h2>
                <p class='text-faded'><font color='white' ><b>PhD Physics</b> - University of Exeter (2016-2020)</font></p>
                <p class='text-faded'><font color='white' ><b>MPhys Physics</b> with Astrophysics and Space Science - Lancaster University (2012-2016)</font></p>
                <hr class="light"></hr>
                <h2 class="section-heading"><font color='orange' >Co-Supervised Summer Student Projects</font></h2>
                <p class='text-faded'><font color='white' ><b>Amy Hewitt</b> - Direct Detection of Solar Wind Angular Momentum Flux - 2019</font></p>
                <p class='text-faded'><font color='white' ><b>Siddhant Deshmukh</b> - Long-time Variability of the Solar Angular Momentum Loss Rate - 2018</font></p>
                <p class='text-faded'><font color='white' ><b>Dean Patient</b> - 3D Printing of Stellar Magnetic Fields - 2017</font></p>
                <hr class="light"></hr>
                <h2 class="section-heading"><font color='orange' >Teaching Experience</font></h2>
                <p class='text-faded'><font color='white' > Undergraduate Student Project: Le Soleil, Solar Orbiter/EUI et la Rotation/Déformation des Trous Coronaux (2023)</font></p>
                <p class='text-faded'><font color='white' > Undergraduate Student Project: Mesure de la Rotation de l'Atmosphere Solaire avec des Images EUV (2022)</font></p>
                <p class='text-faded'><font color='white' ><b>Postgraduate Teaching Assistant (2016-2020):</b></font></p>
                <p class='text-faded'><font color='white' >   PHY2021 - Electromagnetism I</font></p>
                <p class='text-faded'><font color='white' >   PHY2022 - Quantum Mechanics I</font></p>
                <p class='text-faded'><font color='white' >   PHY2023 - Thermal Physics</font></p>
                <p class='text-faded'><font color='white' >   PHY2024 - Condensed Matter I</font></p>
                <hr class="light"></hr>
                <h2 class="section-heading"><font color='orange' >Referee Experience</font></h2>
                <p class='text-faded'><a href="https://www.frontiersin.org/research-topics/63255/stalling-the-rotation-evolution-of-sun-like-stars"><font color='white' >Frontiers Topic Editor</font></a></p>
                <p class='text-faded'><font color='white' >Monthly Notices of the Royal Astronomical Society</font></p>
                <p class='text-faded'><font color='white' >Astronomy & Astrophysics</font></p>
                <p class='text-faded'><font color='white' >The Astrophysical Journal</font></p>
                <hr class="light"></hr>
                <h2 class="section-heading"><font color='orange' >Invited Events/Seminars</font></h2>
                <p class='text-faded'><a href="https://icps.ge/Speakers/"><font color='white' >Invited Speaker at the International Conference of Physics Students, Tbilisi, Georgia, August 2024 </font></a></p>
                <p class='text-faded'><font color='white' >ESA ESTEC Visit - Invited Seminar, Leiden, Netherlands, July 2024</font></p>
                <p class='text-faded'><font color='white' >Invited Seminar at the University of Birmingham, UK, May 2024 </font></p>
                <p class='text-faded'><a href="https://springschool2024.spp1992-exoplanetdiversity.de/speakers/"><font color='white' >Invited Lecturer at Exoplanet Diversity Spring School, Kiel, Germany, May 2024 </font></a></p>
                <p class='text-faded'><font color='lightgrey' >Invited Seminar at the University of Dundee, UK, November 2023 </font></p>
                <p class='text-faded'><font color='white' >Invited Seminar at the University of Reading, UK, October 2022 </font></p>
                <p class='text-faded'><font color='white' >Invited Talk at Skumanich Conference, Boulder, US, March 2022 </font></p>
                <p class='text-faded'><font color='lightgrey' >Invited Virtual Solar Seminar at Northumbria University, December 2020</font></p>
                <p class='text-faded'><font color='lightgrey' >Invited Virtual Nordic Dynamo Seminar Series, November 2020</font></p>
                <p class='text-faded'><font color='lightgrey' >Invited Virtual Astrophysics Seminar at Trinity College Dublin, October 2020 </font></p>
                <p class='text-faded'><font color='white' >Invited Seminar at the DAMTP, University of Cambridge, October 2018</font></p>
                <hr class="light"></hr>
                <h2 class="section-heading"><font color='orange' >Attended Events</font></h2>
                <p class='text-faded'><font color='lightgrey' >SDO 2025 Science Workshop - Contributed Talk, Boulder, USA, February 2025</font></p>
                <p class='text-faded'><font color='lightgrey' >Sun, Space Weather and Solar-Stellar Connections Meeting - Contributed Talk, Bengaluru, India, January 2025</font></p>
                <p class='text-faded'><font color='white' >Star-Planet & Aeronomy Workshop - , Saint Malo, France, November 2024</font></p>
                <p class='text-faded'><font color='white' >WholeSun Meeting - Contributed Talk, Tenrife, Spain, October 2024</font></p>
                <p class='text-faded'><font color='white' >UK National Astronomy Meeting - Contributed Talks, Hull, UK, July 2024</font></p>
                <p class='text-faded'><font color='white' >Cool Stars 22 - Contributed Splinter Talk, San Diego, California, US, June 2024</font></p>
                <p class='text-faded'><font color='white' >Solar Orbiter STIX Meeting - Contributed Talk, Paris, France, June 2024</font></p>
                <p class='text-faded'><font color='white' >Joint PSP, SO, DKIST Meeting (Eclipse 2024) - Contributed Talk, San Antonio, Texas, US, April 2024</font></p>
                <p class='text-faded'><font color='lightgrey' >European Space Weather Week 2023 - Contributed Poster, Toulouse, France, November 2023</font></p>
                <p class='text-faded'><font color='lightgrey' >UK National Astronomy Meeting - Contributed Talk, Cardiff, UK, July 2023</font></p>
                <p class='text-faded'><font color='lightgrey' >Solar Wind 16 - Contributed Talk, Monterey, California, US, June 2023</font></p>
                <p class='text-faded'><font color='lightgrey' >Flux Emergence Workshop - Contributed Talk, Santorini, Greece, June 2023</font></p>
                <p class='text-faded'><font color='lightgrey' >SOLARNET Meeting - Contributed Talk, IAP, Potsdam, Germany, May 2023</font></p>
                <p class='text-faded'><font color='lightgrey' >Bcool 2023 - Contributed Talk, MPS, Gottingen, Germany, April 2023</font></p>
                <p class='text-faded'><font color='white' >4th Parker Solar Probe Scholars Meeting - Contributed Talk, November 2022</font></p>
                <p class='text-faded'><font color='white' >Solar Orbiter 8 Workshop - Contributed Talk, Belfast, UK, September 2022</font></p>
                <p class='text-faded'><font color='white' >IAU General Assembly 2022 - Contributed Talks in IAUS372 and IAUS370, Busan, Rep. of Korea, August 2022</font></p>
                <p class='text-faded'><font color='white' >UK National Astronomy Meeting - Contributed Talk and Poster, University of Warwick, UK, July 2022</font></p>
                <p class='text-faded'><font color='white' >Cool Stars 21 - Contributed Talk and Poster, Toulouse, France, July 2022</font></p>
                <p class='text-faded'><font color='white' >Programme National Soleil Terre (PNST), Contributed Talk and Poster, Marseille, France, May 2022</font></p>
                <p class='text-faded'><font color='lightgrey' >Lorentz Center - Magnetohydrodynamics: Physics for the 21st Century, Leiden, October 2021</font></p>
                <p class='text-faded'><font color='lightgrey' >SOLARNET Summer School - High Resolution Solar Physics, September 2021</font></p>
                <p class='text-faded'><font color='lightgrey' >2nd Parker Solar Probe Scholars Meeting - Contributed Talk, August 2021</font></p>
                <p class='text-faded'><font color='lightgrey' >UK National Astronomy Meeting 2021 - Contributed Talk, July 2021</font></p>
                <p class='text-faded'><font color='lightgrey' >PARKER ONE Conference - Contributed Talk, June 2021</font></p>
                <p class='text-faded'><font color='lightgrey' >SF2A (French National Astronomy Meeting) 2021 - Contributed Poster, May 2021</font></p>
                <p class='text-faded'><font color='lightgrey' >Virtual Bcool 2021 - Presented Talk via Zoom, April 2021</font></p>
                <p class='text-faded'><font color='lightgrey' >Preamble to the Solar Orbiter Summer School - Presented Poster, April 2021</font></p>
                <p class='text-faded'><font color='lightgrey' >Cool Stars 20.5 - Presented Haiku, March 2021</font></p>
                <p class='text-faded'><font color='white' >UKSP Specialist Discussion Day - Presented Talk via Zoom, July 2020</font></p>
                <p class='text-faded'><font color='white' >3rd Uk Solar Orbiter Meeting - Presented Talk at St Andrews, UK, January 2020</font></p>
                <p class='text-faded'><font color='lightgrey' >Gave a seminar to the Solar Physics group, University of Exeter, October 2019</font></p>
                <p class='text-faded'><font color='lightgrey' >Chaired the Bath, Bristol, Exeter and Cardiff Student Seminars, University of Exeter, UK, October 2019</font></p>
                <p class='text-faded'><font color='lightgrey' >STFC Adv. Summer School in Solar System Plasmas, Lancaster Univeristy, UK, September 2019</font></p>
                <p class='text-faded'><font color='lightgrey' >Bcool 2019 - Presented Talk at University of Exeter, UK, July 2019</font></p>
                <p class='text-faded'><font color='lightgrey' >IAUS354: Solar and Stellar Magnetic Fields: Origins and Manifestations (Eclipse 2019) - Presented Poster in Copiapo, Chile, July 2019</font></p>
                <p class='text-faded'><font color='lightgrey' >ISSI Team Meeting "Solar & Stellar Wind Connection", Bern, Switzerland, June 2019</font></p>
                <p class='text-faded'><font color='white' >Evry Schatzman School "Multi-D Processes in Stellar Physics", Roscoff, France, October 2018</font></p>
                <p class='text-faded'><font color='white' >STFC Intro. Summer School in Solar System Plasmas, University of Exeter, UK, August 2018</font></p>
                <p class='text-faded'><font color='white' >Cool Stars 20 - Presented Poster in Boston, MA, July 2018</font></p>
                <p class='text-faded'><font color='white' >Internal Seminar -  Presented talk at University of Exeter, July 2018</font></p>
                <p class='text-faded'><font color='white' >Bcool 2018 - Presented Talk at Trinity College Dublin, April 2018</font></p>
                <p class='text-faded'><font color='lightgrey' >BBECss -  Presented talk at University of Exeter, December 2017</font></p>
                <p class='text-faded'><font color='lightgrey' >2nd Year Talks - Presented talk at University of Exeter, October 2017</font></p>
                <p class='text-faded'><font color='lightgrey' >Ages2 Conference - Presented Poster in Elba, Italy, September 2017</font></p>
                <p class='text-faded'><font color='lightgrey' >Rotation and Activity Mini Meeting - Western Washington University, WA, August 2017</font></p>
                <p class='text-faded'><font color='lightgrey' >IAUS 335: Space Weather of the Heliosphere: Processes and Forecasts - Assisted the LOC, University of Exeter, July 2017</font></p>
                <p class='text-faded'><font color='lightgrey' >Bcool 2017 - Presentation and 3D models in Montpellier, July 2017</font></p>
                <p class='text-faded'><font color='lightgrey' >National Astronomy Meeting 2017 - Presented Poster and 3D models at University of Hull, July 2017</font></p>
                <p class='text-faded'><font color='lightgrey' >Peer-Organised 1st Year Astrophysics Development Day - University of Exeter,  June 2017</font></p>
                <p class='text-faded'><font color='white' >TOUPIES Wrap-up - Meeting at Universite de Montpelier France, November 2016</font></p>
                <p class='text-faded'><font color='white' >HPC Methods for Computational Fluid Dynamics and Astrophysics - Workshop at CINECA Bologna Italy, November 2016</font></p>
                <p class='text-faded'><font color='white' >Star Formation - Conference at Exeter University, September 2016</font></p>
                <p class='text-faded'><font color='white' >Modern Observations, Theory and Techniques for Solar and Stellar Physics - Meeting at Warwick University, July 2016</font></p>
                <hr class="light"></hr>
                <h2 class="section-heading"><font color='orange' >Nuggets and Press</font></h2>
                <p class='text-faded'><a href="https://www.insu.cnrs.fr/fr/cnrsinfo/le-magnetisme-des-etoiles-geantes-revele"><font color='white' >Produced 3D Graphic for CNRS Press Release of Amard & Brun 2024, October 2024</font></a></p>
                <p class='text-faded'><a href="https://www.youtube.com/live/NXnLge6ZHnY?si=GqZYq1n6y_WI2OYj"><font color='white' >Public Youtube Livestream, September 2024</font></a></p>
                <p class='text-faded'><a href="https://www.uksolphys.org/general-news/uksp-prize-winners-at-nam-2023/"><font color='white' >UK Solar Physics Early Career Researcher Talk Prize (awarded by the Royal Astronomical Society) at NAM 2023, July 2023</font></a></p>
                <p class='text-faded'><a href="https://www.aanda.org/2023-highlights/2815"><font color='white' >Cover of Astronomy & Astrophysics, June 2023</font></a></p>
                <p class='text-faded'><a href="https://www.cea.fr/drf/Pages/Actualites/En-direct-des-labos/2022/solar-orbiter-confirme-lexistence-de-repliements-magnetiques-ejectes-par-notre-soleil.aspx"><font color='white' >Actualites Scientific CEA, October 2022</font></a></p>
                <p class='text-faded'><a href="https://www.weekendavisen.dk/2019-50/ideer/mission-ikaros"><font color='white' >Weekendavisen (Danish Online Newspaper) "Mission Ikaros", December 2019</font></a></p>
                <p class='text-faded'><a href="https://www.nature.com/articles/d41586-019-03684-0"><font color='white' >Nature News "Sun-bombing spacecraft uncovers secrets of the solar wind", December 2019</font></a></p>
                <p class='text-faded'><a href="http://www.uksolphys.org/uksp-nugget/104-comparing-different-methods-for-computing-solar-angular-momentum-loss/"><font color='white' >UK Solar Physics Nugget - Wrote article, September 2019</font></a></p>
                <p class='text-faded'><a href="http://hmi.stanford.edu/hminuggets/?p=2129"><font color='white' >HMI Science Nugget - Wrote article, December 2017</font></a></p>
            </div>
        </div>
    </div>
</section>
