<section class="bg-primary" id="talksevents">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-1 text-left">
                <h2 class="section-heading">Co-Supervised Summer Student Projects</h2>
                <hr class="light">
                <p class='text-faded'><a ><font color='white' >Amy Hewitt - Direct Detection of Solar Wind Angular Momentum Flux - 2019</p>
                <p class='text-faded'><a ><font color='white' >Siddhant Deshmukh - Long-time Variability of the Solar Angular Momentum Loss Rate - 2018</p>
                <p class='text-faded'><a ><font color='white' >Dean Patient - 3D Printing of Stellar Magnetic Fields - 2017</p>
                <h2 class="section-heading">Teaching Experience</h2>
                <hr class="light">
                <p class='text-faded'><a ><font color='white' >Postgraduate Teaching Assistant (2016-2020):</p>
                <p class='text-faded'><a ><font color='white' >   PHY2021 - Electromagnetism I</p>
                <p class='text-faded'><a ><font color='white' >   PHY2022 - Quantum Mechanics I</p>
                <p class='text-faded'><a ><font color='white' >   PHY2023 - Thermal Physics</p>
                <p class='text-faded'><a ><font color='white' >   PHY2024 - Condensed Matter I</p>
                <h2 class="section-heading">Education</h2>
                <p class='text-faded'><a ><font color='white' >PhD Physics - University of Exeter (2016-2020)</p>
                <p class='text-faded'><a ><font color='white' >MPhys Physics with Astrophysics and Space Science - Lancaster University (2012-2016)</p>
                <hr class="light">
                <h2 class="section-heading">Invited Seminars</h2>
                <p class='text-faded'><a ><font color='white' >"The Solar Wind Angular Momentum Flux as Observed by Parker Solar Probe (and its Astrophysical Implications)", Virtual Nordic Dynamo Seminar Series, Nov 2020</p>
                <p class='text-faded'><a ><font color='white' >"The Solar Wind Angular Momentum Flux as Observed by Parker Solar Probe (and its Astrophysical Implications)", Virtual Astrophysics Seminar at Trinity College Dublin, Oct 2020 </p>
                <p class='text-faded'><a ><font color='white' >"Solar and Stellar Rotation - Current Developments in Wind Braking", Astrophysics Seminar at the DAMTP, University of Cambridge, Oct 2018</p>
                <hr class="light">
                <h2 class="section-heading">Nuggets and Press</h2>
                <p class='text-faded'><a href="https://www.weekendavisen.dk/2019-50/ideer/mission-ikaros"><font color='white' >Weekendavisen (Danish Online Newspaper) "Mission Ikaros", December 2019</p>
                <p class='text-faded'><a href="https://www.nature.com/articles/d41586-019-03684-0"><font color='white' >Nature News "Sun-bombing spacecraft uncovers secrets of the solar wind", December 2019</p>
                <p class='text-faded'><a href="http://www.uksolphys.org/uksp-nugget/104-comparing-different-methods-for-computing-solar-angular-momentum-loss/"><font color='white' >UK Solar Physics Nugget - Wrote article, September 2019</p>
                <p class='text-faded'><a href="http://hmi.stanford.edu/hminuggets/?p=2129"><font color='white' >HMI Science Nugget - Wrote article, December 2017</p>
                <hr class="light">
                <h2 class="section-heading">Attended Events</h2>
            </div>
        </div>
    </div>
</section>
