<section class="bg-primary" id="thesis">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-1 text-left">
                <h2 class="section-heading">PhD Thesis (completed May 2020)</h2>
                <hr class="light">
                <p class='text-faded'><a href="http://hdl.handle.net/10871/121115"><font color='white' >Constraining the Angular Momentum-loss Rates of the Sun and Other Sun-like Stars</p>
            </div>
        </div>
    </div>
</section>
