<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include call-to-action.html %}
  {% include researchInterests.html %}
  {% include thesis.html %}
  {% include portfolio.html %}
  {% include flare_title.html %}
  {% include flare_tool.html %}
  {% include connect_title.html %}
  {% include connectivity_tool.html %}
  {% include papers.html %}
  {% include talksevents.html %}
  {% include posters.html %}
  {% include extra.html %}
  {% include aside.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>
